.auth-page{
    height: 100vh;
    width: 100%;
    background-color: #AFD4C0;
    font-family: 'Open Sans', sans-serif;
    
    
}

.auth-content{
    background-color: white;
    height: 100%;
    width: 50%;
    margin: auto;
    

    
}

.login-logo{
    height: 100px;
    /* padding: 150px 0px 100px 0px */
    padding: 10vh 0vh 20vh 0vh;
}

.auth-logo{
    color: #3b5249;
    
}

.username{
    text-align: left;
    padding-left: 150px;
    margin-bottom: 5px;
    
}
.password{
    text-align: left;
    padding-left: 150px;
    margin-bottom: 5px;
    
}
.login-input{
    width: 75%;
    height:35px;
    border-style: solid;
    border-color: #AFD4C0;
}

.login-button{
    background-color: #8aea92;
    font-weight: 900;
    border-style: none;
    border-radius: 3px;
    margin: 25px 35px 0px 0px;
    width: 140px;
    height: 40px;
}

.register-button{
    background-color: #3b5249;
    font-weight: 900;
    border-style: none;
    border-radius: 3px;
    margin: 25px 0px 35px 0px;
    width: 140px;
    height: 40px;
    color: white;

}
